.buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 650px;
    margin-inline: auto;
    gap: 150px;
    box-shadow: 0 -10px 20px 0.1px rgb(109, 108, 108);
    padding-right: 50px;
    padding-bottom: 30px;
    
}

.btns{
    margin-top: 30px
}

#play{

}

#forward{
    
}

#backward{
    
}

